h1 {
    font-size: 50px;
    text-align: center;
    font-weight:bold;
    text-transform: uppercase;
    font-family: 'Permanent Marker', cursive;
   
}
.menu {
font-family: 'Permanent Marker', cursive;
text-align:center;
font-size: 20px;
border-bottom: solid 0.1px;
border-top: solid 01px;
}
.menu{
background-color:lightgrey;
}
.menu a {
margin-right:100px;
color:black;
}
.cards {
 margin: auto;
 max-width: 960px;   
}
.product-card {
    display: none;
    margin-top: 40px;
    margin-right: 119px;
    max-width: 200px;
}
.product-card:last-child {
margin-right:0;
}
.product-card a {
border: 2px outset rgba(0,0,0,0.28);
padding:8px;
float:right;
margin-right:5px;
margin-bottom:5px;
box-sizing: padding-box;
border-radius: 15px;
background:grey;
cursor:pointer;
font-weight:bold;
font-family: 'Roboto', sans-serif;
color: black;
text-decoration: none;
}

.product-card p{   
font-family:'Roboto', sans-serif;
text-transform:uppercase;
margin-left:10px;
font-weight:bold;
}

.product-card {
box-shadow: 0 0 5px;
background-color: lightgrey;
}

p {
text-align: justify; 
margin-top:auto;
margin-bottom:20px; 
}

img{  
width: 200px;
height: 200px;
margin-bottom:10px; 
}

.footer{
border-top: solid 0.1px;
text-align: right;  
margin-top: 100px;
margin-right: 100px;
margin-bottom:100px;
margin-left: 50px; 
padding-top:20px;
}

.footer a {
font-family:'Roboto', sans-serif;
margin-top:10px;
}
