@media screen and (max-width: 639px) {
    width: 30%;
}
@media screen and (min-width: 640px) and (max-width: 1023px) {
    width: 60%;
}
@media screen and (min-width: 1024px) {
    width: 100%
}
body {
    background-color: azure;
    text-align: center;
    margin: 40px 80px;
}
div.class {
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
}
.menu a {
    font-family: 'Patrick Hand', cursive;
    font-size: 34px;
    font-style: italic;
    padding: 5px 30px;
    color: rgb(153, 51, 0);
    margin: 0 0 20px;
    background-color: rgb(236, 236, 236);
    border-radius: 3px;
}
hr {
    border-style: solid;
    border-color: rgb(153, 51, 0);
    }
h1 {
    text-align: left;
    padding-left: 40px;
    font-size: 50px;
    color: black;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}
.foresz {
    text-align: left;
    padding: 0 20px;
}
.image {
    width: 400px;
    height: 400px;
    padding: 0;
    margin: 50px 90px;
    border: 1px solid lightgrey;
    box-shadow: 5px;
}
.leiras {
    font-family: 'Roboto Slab', serif;
    padding: 120px 30px 0 25px;
    margin: 0 30px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}
.leiras p {
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
}
.leiras p a {
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    padding-left: 25px;
}
#megrendeles {
    font-size: 16px;
    font-weight: bold;
    border-style: hidden;
    border-radius: 5px;
    background-color: rgb(255, 153, 153);
    box-shadow: 3px;
    margin-left: 160px;
    cursor: pointer;
    padding: 6px;
}
.ratings h2 {
    font-size: 24px;
    font-style: italic;
    font-family: 'Roboto Slab', serif;
    text-align: left;
    padding-left: 60px;
}
#ratings {
    font-family: 'Pacifico', cursive;
    font-size: 14pt;
    text-align: left;
    padding-left: 120px;
}
#text {
    display: inline;
    padding-left: 25px;
}
footer {
    margin: 10px 50px 10px auto;
    padding: 15px;
    text-align: right;
    height: 150px;
}
footer h5 {
    font-style: italic;
    font-size: 15px;
    padding: 0;
    margin: 10px;
}
.footer a {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}