body {
    background-color: rgb(184,228,250);
    text-align: center;
    margin: 30px 60px;
}
div.class {
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: auto;
}
.menu a {
    font-family: 'Patrick Hand', cursive;
    font-size: 24px;
    font-style: italic;
    padding: 20px;
    color: rgb(153, 51, 0);
    margin: auto auto 5px;
}
hr {
    border-style: solid;
    border-color: rgb(255, 255, 204);
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}